<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="was-validated">

  <div class="row mb-3">
    <label for="nome" class="col-sm-2 col-form-label col-form-label">Nome</label>
    <div class="col-sm-10">
      <input class="form-control" id="validationName" placeholder="Nome obrigatório" type="text"
      name="nome" [(ngModel)]="usuario.nome" #nome="ngModel" required>
     <div *ngIf="nome.touched" class="invalid-feedback">
       Favor informar o nome
     </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label col-form-label">Endereço de email</label>
    <input class="form-control" id="validationEmail" placeholder="E-mail obrigatório" type="email"
    name="email" [(ngModel)]="usuario.email" #email="ngModel" required>
    <div *ngIf="nome.touched"class="invalid-feedback">
      Favor informar um e-mail válido
    </div>
  </div>
  
  <div class="mb-3">
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
      Submit
    </button>
  </div>
  <app-form-debug [form]="f"></app-form-debug>
</form>
