<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" required
    aria-describedby="Nome" name="nome" [ngModel]="usuario.nome">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Endereço de email</label>
    <input type="email" class="form-control" id="email" placeholder="nome@email.com" required email
    name="email" [ngModel]="usuario.email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>