<html>
  <header>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </header>
  <body>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <nav *ngIf="mostrarMenu">
      <div class="nav-wrapper">
        <a  routerLink="" class="brand-logo right">Rotas Ng2</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
          <!-- <li routerLinkActive="active"><a [routerLink]="['curso',idCurso.value]">Curso com id</a></li> -->
          <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>

        </ul>
      </div>
    </nav>

    <div class="container">
      <!-- <p> Entre com o id do curso </p>
      <input #idCurso> -->
      <router-outlet></router-outlet>
    </div>
  </body>
</html>

