<form class="row g-2 " [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="col-sm-12">
    <label for="nome" class="col-form-label">Nome</label>
      <input class="form-control"  [ngClass]="aplicaValidacao('nome')" id="validationName" placeholder="Nome" type="text" formControlName="nome">
    <div class="invalid-feedback">
      Favor informar o nome
    </div>
  </div>

  <div class="col-sm-12">
    <label for="email" class="col-form-label">Email</label>
    <input class="form-control"  [ngClass]="aplicaValidacao('email')" id="validationEmail" placeholder="nome@email.com" type="email" formControlName="email">
    <div class="invalid-feedback">
      Favor informar um e-mail
    </div>
    <div *ngIf="validaEmail()" class="invalid-feedback">
      Favor informar um e-mail válido
    </div>
  </div>

  <div class="col-sm-12">
    <button class="btn btn-primary" type="submit">
      Submit
    </button>
    <button class="btn" type="submit" (click)="resetar()">
      Cancelar
    </button>
  </div>
  
  <app-form-debug [form]="formulario"></app-form-debug>
</form>
